<h1 id="hello">Hello</h1>

<svg id="map" class="svg__map"></svg>

<div id="svgs" class="svg__container">
    <object id="man" type="image/svg+xml" data="../resource/man.svg">
        Your browser does not support SVG
    </object>
    <object id="female" type="image/svg+xml" data="../resource/girl.svg">
        Your browser does not support SVG
    </object>
    <object
        id="teens"
        type="image/svg+xml"
        data="../resource/sister-and-brother.svg"
    >
        Your browser does not support SVG
    </object>
    <object
        id="young"
        class="young"
        type="image/svg+xml"
        data="../resource/kids-child.svg"
    >
        Your browser does not support SVG
    </object>
</div>
<div class="svg__container">
    <svg id="svg-icon-legend"></svg>
</div>

<script>
    initD3GunMap()
</script>
