<script type="module" src="../js/main.js"></script>
<script type="module" src="../js/particleSystem.js"></script>
<script type="module " src="../js/main.js"></script>
<script type="module">
    import App from '../js/main.js'

    App.start()
</script>

<div class="container-fluid">
    <div class="row">
        <div class="particleDiv col-md-6">
            <div id="scene"></div>
        </div>
        <div class="col-md-5">
            <div id="d3_scatter"></div>
            <div class="legendDiv" id="d3_legend"></div>
        </div>
    </div>
    <div class="row">
        <div class="sliderDiv col-md-6">
            <p>Z Position</p>
            <input type="range" min="1" max="100" value="50" id="zSlider" ">
            <p>Value :<span id="zValue"> 0</span></p>
            <h2>References and LICENSE</h2>
            <ul>
                <li><a href=https://github.com/d3/d3/blob/master/LICENSE">D3.js</a></li>
                <li><a href="https://threejs.org/">THREE.js</li>
                <li><a href="https://observablehq.com/@d3/color-legend">Mike Bostock color legend</li>
            </ul>
        </div>
        <div
    </div>
</div>
